

@check_call_state(nv)
def {{ unit_name }}_speaker(*prompts, spch_time=1100):
    nn.log('{{ unit_name }}_unit_speaker')
    nv.set_default('listen', {
        'no_input_timeout': 4000,
        'recognition_timeout': 90000,
        'speech_complete_timeout': spch_time,
        'asr_complete_timeout': 1100,
    })

    has_no_interruption_prompts = test_interruption(*prompts)
    nn.log('has_no_interruption_prompts', has_no_interruption_prompts)

    if has_no_interruption_prompts:
        speak_prompts_test(*prompts)
        
    with nv.listen(
            ({{ unit_name }}_interruption_entities_list, None, 10, 'AND'),
            entities={{ unit_name }}_entities_list,
            drop_ni_utterance=True,
    ) as r:
        if not has_no_interruption_prompts:
            speak_prompts_test(*prompts)

    return {{ unit_name }}_logic(r)
