
            set_status_{{ unit_name }}({{status_sheme.keys() | list | first }}='{{ status_sheme.values() | list | first }}', {{result_scheme.keys() | list | first }}='{{result_scheme.values() | list | first }}')
